.product {
    align-items: center;
    border-radius: .3rem;
    border: 2px solid var(--color-blue-light);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-height: 300px;
    min-width: 100px;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
}

.product > figure {
    margin: 0;
    width: 100%;
}

.title {
    font-weight: 500;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price, .previous-price {
    color: var(--color-gray-dark);
    font-weight: 300;
}

.previous-price {
    margin-bottom: .5rem;
    text-decoration: line-through;
}

.current-offer {
    color: var(--color-red-dark);
    font-weight: 300;
    margin-top: .5rem;
}

.more-colors {
    color: var(--color-gray);
    margin-top: .5rem;
}

.button-add {
    background-color: var(--color-blue);
    border-radius: .3rem;
    border: none;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .4);
    color: var(--color-white);
    cursor: pointer;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .product {
        padding: 1rem;
    }
}