.search-bar {
    border-radius: .5rem;
    border: 2px solid var(--color-gray-light);
    position: relative;
}

.search-bar > input {
    border-radius: .5rem;
    border: none;
    box-sizing: border-box;
    padding: .5rem .5rem .5rem 2rem;
    width: 100%;
}

.search-icon {
    left: .25rem;
    position: absolute;
    stroke: var(--color-gray);
    top: 50%;
    transform: translateY(-50%);
}